<h1 class = "h1-order">Order</h1>

<p>Write to us to get a free consultation on making theater costumes, calculate the cost or make an order.</p>

<form class = "form-order" #myForm = "ngForm" novalidate>
  <input type = "text" name = "name" placeholder= "Name.." [(ngModel)] = "name" required>
  <input type = "text" name = "phone" placeholder= "Phone.." [(ngModel)] = "phone" required>
  <input type = "text" name = "email" placeholder= "Email.." [(ngModel)] = "email" required>
  <textarea name = "comment" placeholder="Comment.." [(ngModel)] = "comment" required></textarea>
  <button [disabled]="myForm.invalid" class = "button" (click)="submit(myForm)">Sent</button>
</form>