/* You can add global styles to this file, and also import other style files */
@import "grid";


body{
    margin: 0;
    background: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
